<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>

  <mat-grid-list cols="4" rowHeight="4:1">
    <mat-grid-tile *ngFor="let player of players" [ngClass]="{'active':player.isPlaying}" [style.background]="'#DDBDF1'"
      [colspan]="2">
      {{player.name}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4">
      <button mat-stroked-button (click)="resetBoard()">Restart</button>
    </mat-grid-tile>
  </mat-grid-list>
  <div>
    <app-board (cellClick)="onCellClick($event)" [cells]="cells"></app-board>
  </div>
</div>